{% load staticfiles %}
<!DOCTYPE html>
<html lang="es" ng-app='mainApp' ng-controller="pageCtr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="atomyc.in">
        <title>BRANDLINE 2018  &reg;</title>
        <meta name="" content="#496201s">
        <meta charset="utf-8">

        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans|Open+Sans|Paytone+One" rel="stylesheet">
        <link rel="stylesheet" href="/static/statics/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/statics/css/textAngular.css">
        <link href="/static/statics/css/jquery-ui.min.css" rel="stylesheet">
        <link href="/static/statics/js/datetimepicker-master/build/jquery.datetimepicker.min.css" rel="stylesheet">
        <link href="/static/statics/css/cropper.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/statics/css/ionicons.css">
        <link href="/static/statics/css/photo-sphere-viewer.css" rel="stylesheet">
        <link href="/static/statics/css/main.css" rel="stylesheet">
        <link href="/static/statics/css/dropzone.css" rel="stylesheet">
        <link href="/static/statics/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/statics/css/responsivemain.css" rel="stylesheet">
        
        <link rel="stylesheet" ng-href="/dycss/cfg.css?loadcss=||loadcss||" >
        <link href="/static/statics/css/brandlineicons.css" rel="stylesheet">
        
        {% block css %}{% endblock %}

</head>
<body class="cfgbody">
  <div id="velo" style="position: fixed;height: 100%;width: 100%;left: 0px;top: 0px;background-color: rgba(0,0,0,0.8);z-index:1033;display: none;">
    <div style="width:50%;margin:auto;position: relative;top:25%;">
      &nbsp;
     
      <div class="tooltipsy">
        <div style="text-align: center;">GUARDANDO ESPERE UN MOMENTO ...</div>
      </div>


    </div>

  </div>

  <form ng-show="editando" style="display: none;">
    <input type="file" id="upload-file" name="upload-file" upload-file>
    <input type="file" id="upload-fuente" name="upload-file" uploadcfg-fuente>
  </form>

  <div id="cropperbox"  class="cropprev">
      <div style="text-align: right;margin:10px 0px 30px 0px;">
            <span class="links" close-crop>
              <i class="ion-close-circled" ></i>
            </span>
            <span class="links" save-crop>
              <i class="ion-checkmark-circled" ></i>
            </span>
      </div>

      <div style="">
        <form action="/motor/dropimage/" class="dropzz" id="dropme" drop-me style="height: 25px !important;">
              <p class="dz-message">Agregar Archivos aquí</p>
              {% csrf_token %}
              <div class="dz-filename"><span data-dz-name></span></div>
        </form>


      </div>

      <div id="cropping-box">
        <img id="image" 
             src="/static/statics/imgs/defaults/grid.png" alt="Picture" 
             style="width:400px !important;">
      </div>
  </div>


  <section class="container">
    {% include 'cfgapp/megamenu.html' %}
  </section>
  <section class="container-fluid" id="contenido">
     {% block content %}{% endblock %}
  </section>





        

{% if user.profile in 'admin' %}


  <div id="tooltip-modules" ng-show="editando">
      <ol id="menusortable" sortable-me>
          <li ng-repeat="m in modules|orderBy:'orden'" class="ordermy">
              <div>
                <a href="#/||m.rowpk||" data-toggle="tooltip" data-placement="right" title="||m.title||">
                  <i class="||m.icono||"></i>
                  
                </a>
              </div>
          </li>
          <li class="ui-state-disabled">
              <div class="ceparador">&nbsp;</div>
          </li>
          <li >
              <div>
                <span class="links" ng-click="viewmodbox();">
                    <i class="ion-plus-circled"></i>
                </span>
              </div>
          </li>
      </ol>
  </div>


  <div class="tool-float-box" ng-show="boxmods" id="addmodbox" style="display: none;">
      <div class="row">
            <div class="col-10 col-lg-10">
                Agregar un Módulo
            </div>
            <div class="col-2 col-lg-2" style="text-align: right;">
                <span class="links" ng-click="boxmods=false;">
                    <i class="ion-close-circled"></i>
                </span>
            </div>
      </div>
        
    <div class="ceparador" style="margin:20px 0px;">&nbsp;</div>

      <div class="row" style="text-align: center;padding:0px 10px;">
        <div class="col-2" ng-repeat="am in all_modules" class="icon-box" style="padding:0px; ">
          <span class="links modulo_icon" add-row>
              <i class="||am.icono||"></i>
          </span>        
        </div>
      </div>


  </div>

{% endif %}


  <footer id="pie">
    brandline
  </footer>


<div class="modal" tabindex="-1" role="dialog" id="modal-imagebox">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">||titulo||</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="modal-ins-loader" style="display: none;">Cargando espere por favor ...</p>  
          <img src="||fullimage||" id="modal-img" ng-if="fullimage" style="width:100%;" />
        
        <div style="text-align:left;margin:20px 0px;">
          <a href="/dw/?f=||dwfile||" ng-if="dwfile" target="_blank" class="dwbtn">
            Original &nbsp;&nbsp;<i class="ion-arrow-down-a"></i>
          </a>

            <a href="/dw/?f=/||dw.file||"  target="_blank" class="dwbtn" ng-repeat="dw in dwfiles">
              ||dw.name|| &nbsp;&nbsp;<i class="ion-arrow-down-a"></i>
            </a>

        </div>

        <div>
          <h3 id="modal-ins-tit" style="text-align: center;" class="cfg-titulos"></h3>          
           <div ng-bind-html="descp" class="cfg-texto">||descp||</div>
        </div>
      </div>

    </div>
  </div>
</div>




    <script src="/static/statics/js/jquery.js"></script>
    <script src="/static/statics/js/jquery-ui.min.js"></script>
    <script src="/static/statics/js/jquery.mjs.nestedSortable.js"></script>
    <script src="/static/statics/bootstrap/js/bootstrap.bundle.js"></script>
   
    <script src="/static/statics/js/dropzone.js"></script>
    <script src="/static/statics/js/angular.min.js"></script>
    <script src="/static/statics/js/angular-route.min.js"></script>
    <script src="/static/statics/js/angular-route.min.js"></script>
    <script src="/static/statics/js/angular-sanitize.js"></script>

    <script src='/static/statics/js/textangular/textAngular-rangy.min.js'></script>
    <script src='/static/statics/js/textangular/textAngular-sanitize.min.js'></script>
    <script src='/static/statics/js/textangular/textAngular.min.js'></script>

    <script src="/static/statics/js/cleave.min.js"></script>



        <script src="/static/statics/js/three.min.js"></script>
        <script src="/static/statics/js/D.min.js"></script>
        <script src="/static/statics/js/uevent.min.js"></script>
        <script src="/static/statics/js/doT.min.js"></script>
        <script src='/static/statics/js/photo-sphere-viewer.js'></script>


   
    <script type="text/javascript">    
        



        var myapp = angular.module('mainApp',['ngRoute','ngSanitize','textAngular']);
        var customInterpolationApp = angular.module('customInterpolationApp', []);
        // GLOBALS --------------------------------------------------------------------
        var csrf = '{{csrf}}';
        // ----------------------------------------------------------------------------
        
        myapp.config(function($interpolateProvider) {
            $interpolateProvider.startSymbol('||');
            $interpolateProvider.endSymbol('||');

        });

        myapp.config(['$httpProvider', function($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
            $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';        
        }]); 


        var fonts = '{{fonts|safe}}';
        var fonts = eval("(" + fonts + ")"); 

        var colors = '{{colors|safe}}';
        var colors = eval("(" + colors + ")"); 


    </script>

    <script src="/static/statics/js/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>
    <script src="/static/statics/js/bones.js"></script>
    <script src="/static/statics/js/cfgctr.js"></script>
    {% if user.profile in 'admin' %}

    <script src="/static/statics/js/managepagectr.js"></script>
    <script src='/static/statics/js/cropper.min.js'></script>
    <script src='/static/statics/js/w3color.js'></script>

    {% endif %}




    <script type="text/javascript">

        // EXTRACTING CATALOGO

        var catalogo = [];
         var csrf = '{{csrf}}';
        
        $(function(){

            var today = new Date();
            var tomorrow = new Date();
            var tm = tomorrow.setDate(today.getDate()+5);

            $( ".datepicker" ).datetimepicker({format:'Y-m-d H:i:s',minDate:tm});
        });







       
    </script>

    {% block scripts %}{% endblock %}

</body>

</html>