{% for itm in fullp.marcador_futbol %}

    <div style="text-align:center; ">


        <div style="display: inline-block;width:30%;margin:20px;">
        <img src="/{{itm.imgs.0.img}}" style="width:100%;"  />
        <input type="text" class="form-control" >
        </div>

        <div style="display: inline-block;width:30%;margin:20px;">
        <img src="/{{itm.imgs.1.img}}" style="width:100%;"  />
        <input type="text" class="form-control" >
        </div>


        <div  style="background: #0a3b79; color:#fff;font-weight:bold;padding:20px;">
            {{itm.description|safe}}      
        </div>

        <div>
            <label>
                Si <input type="radio" name="resp_||t.pk||"  value="True">
            </label>
            <label>
                No <input type="radio" name="resp_||t.pk||"  value="False">
            </label>
        </div>

    </div>



{% endfor %}