
    




<!-- Modal -->
<div class="modal fade" id="promocionmod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Promoción {{promo.pk}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        



<!-- Optional: some overlay text to describe the video -->
        <div class="login container" style="display: none;">

                  <form name="loginform" id="loginform" ng-submit="enviando($event);" ng-click="err=false;">
                    
                    <div ng-if="err" style="background-color: #3d3d3d;color:#999;font-size: 2.5vmin;padding:10px;margin:20px 0px;">||err||</div>

                    <div style="margin-bottom:5px;">
                      <input type="text" name="usuario" class="form-control" placeholder="Usuario" ng-model="us">
                    </div>
                    <div>
                      <input type="password" name="contrasenya" class="form-control" placeholder="Contraseña" ng-model="pas">
                    </div>

                    <div class="row" style="margin-top:50px;">
                      
                      <div  style="text-align: right;display: inline-block;width:38%;padding-right: 12px;">
                        <button type="submit" class="btn btn-info">ENTRAR</button>
                      </div>
                    </div>
                  </form>

        </div>




    
                    <form name="lg" id="regform" action="/registro/" method="POST" class="senddata" >
                            {% csrf_token %}

                            <div class="labelo" id="id_username">
                                <input type="text" class="form-control" placeholder="Movil" name="username">
                            </div>
                            <div class="labelo" id="id_email">
                                <input type="email" class="form-control" placeholder="email" name="email">
                            </div>
    

                            <div class="formrow" style="text-align: right;">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-info">Guardar</button>
                            </div>
                        </form> 





      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
