{% extends 'frontapp/baselogin.html' %}



 {% block content%}

<style type="text/css">

  body,html{
    background-color:#E1E5EF;
    width:100%;
    height: 100%;
  }
  input{
    width:40%;
    padding:10px;
    font-size:1.2rem; 
    margin:20px 0px;
    border:0px solid;
    background-color: #4c4c4c;
    color:#fff;
  }
  label{
    display: block;
    text-align: left;
    width: 40%;
    margin:auto;
  }


  .btn-info{
    padding:20px;
    border-radius: 5%;
    background-color: #5F42DC;
    color:#fff;
    border: 0px solid;
    font-size: 1rem;
  }

</style>



<div style="display: table;width:100%;height: 100%;">

  <div style="display: table-row;">
    <div style="display: table-cell;width:100%;height: 100%;vertical-align: middle;text-align: center;">
        <div class="login container"ng-controller="pageCtr" >

                  <div style="margin:0px 0px 60px 0px;"> <img src="/static/statics/images/marca_sitio 2.png"></div>
                  <form name="loginform" id="loginform" ng-submit="enviando($event);" ng-click="err=false;">
                    
                    <div ng-if="err" style="background-color: #3d3d3d;color:#999;font-size: 2.5vmin;padding:10px;margin:20px 0px;">||err||</div>

                    <div style="margin-bottom:5px;">
                      <label>Usuario</label>
                      <input type="text" name="usuario" class="form-control" placeholder="Usuario" ng-model="us">
                    </div>
                    <div>
                      <label>Contraseña</label>
                      <input type="password" name="contrasenya" class="form-control" placeholder="Contraseña" ng-model="pas">
                    </div>

                    <div class="row" style="margin-top:50px;">
                      
                      <div  style="text-align: right;display: inline-block;width:41%;padding-right: 12px;">
                        <button type="submit" class="btn btn-info"> Enviar </button>
                      </div>
                    </div>
                  </form>

        </div>

    </div>
  </div>

</div>

{% endblock %}