<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
 <a class="navbar-brand" href="/">
    <img src="/static/statics/imgs/logo.png" style="width:70%;" class="d-inline-block align-top" alt="">
  </a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link linksy" href="/">Dinámicas <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link linksy" href="#">Categorías</a>
      <span class="nav-item nav-link linksy" data-toggle="modal" data-target="#ventajamodal" >Ventajas</span>
    </div>
  </div>
</nav>